<!doctype html>
<html>

<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>

<body>
    <div id="content">{% block content %}{% endblock %}</div>
    <div id="footer">
        <li><a href="/">Home</a></li>
        <li><a href="{{ url_for('add_animal') }}">Add Animal</a></li>
        <li><a href="{{ url_for('show_animals') }}">View Animals</a></li>
        <li><a href="{{ url_for('edit_animal') }}">edit Animal</a></li>
        {% block footer %}
        &copy; Copyright 2010 by <a href="http://domain.invalid/">you</a>.
        {% endblock %}
    </div>
</body>

</html>